.table-container{
    width: 95%;
    margin: auto;
}


td { 
    cursor: pointer; 
}


table {
    table-layout : fixed;
}



.num-input {
    width: 50%;
}

.ui.secondary.menu a:first-child {
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4183c4;
  }

  .ui.secondary.menu a:last-child {
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4183c4;
  }


  