.table-container{
    width: 95%;
    margin: auto;
}

body {
    /* background-color: rgb(234, 241, 234); */
    background-color: white;
}

td { 
    cursor: pointer; 
}

th {
    color: #3B83C0 !important;
}


table {
    table-layout : fixed;
    border: 1px solid #3B83C0 !important;
}



.num-input {
    width: 50%;
}

.ui.secondary.menu a:first-child {
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .ui.secondary.menu a:last-child {
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .market-headers {
      text-align: center;
  }

  .category-checkbox { 
    margin-top: 20px;
    margin-right: 10px;
}

  li {
      list-style-type: none;
    }

.check-all {
    margin-top: 20px;
    display: block !important;
}

.added-text {
    color: #3B83C0;
}

.newworld {
    background-color: rgb(211, 0, 0);
    color: white;
}

.countdown {
    background-color: rgb(0, 109, 0);
    color: white;
}

.paknsave {
    
    background-color: rgb(255, 218, 8);
}

.main-text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 20px !important;
    color: rgb(0, 81, 151);
    font-size: 42px;
}

.tab {
    background-color: #3B83C0 !important;
    color: white !important;
}

.tab-hover:hover {
    background-color: #3B83C0  !important;
    color: white !important;
}

#context1 a {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid #3B83C0 ;
    color: #3B83C0;
}

#context1 a:first-child {
    margin-right: 40px;
    
} 

#context1 a:nth-child(3) {
    margin-left: 40px;
    
}

.instructions {
    list-style-type: square;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.intro {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.search-button {
    margin-top: 5px !important;
}
  
      

  