.table-container{
    width: 95%;
    margin: auto;
}


td { 
    cursor: pointer; 
}


table {
    table-layout : fixed;
}



.num-input {
    width: 50%;
}

.ui.secondary.menu a:first-child {
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .ui.secondary.menu a:last-child {
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .market-headers {
      text-align: center;
  }

  .category-checkbox { 
    margin-top: 20px;
    margin-right: 10px;
}

  li {
      list-style-type: none;
    }

.check-all {
    margin-top: 20px;
    display: block !important;
}

.added-text {
    color: red;
}
  
      

  